/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
	height: 100vh;
	display: flex;
	flex-direction: column;
}
ol, ul {
	list-style: none;
}
a {
	color: #3D3D3D;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3 {
	font-family: 'Work Sans';
	font-size: 26px;
	margin-top: 10px;
	text-align: center;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

main {
	margin: 0 5.5em;
}

/* Partie intro */
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

/* Partie portfolio */
#portfolio {
	margin-left: 3.5em;
	margin-right: 3.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


#filters span {
	cursor: pointer;
}

.filters__btn {
	font-family: 'Syne';
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #1D6154;
	border: solid 1px #1D6154;
	margin-bottom: 50px;
	margin-right: 10px;
	padding: 10px;
	border-radius: 60px;
	min-width: 100px;
	max-width: 200px;
}

.filters__btn--clicked {
	color: white;
	background-color: #1D6154;
}

.filters__btn:hover {
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* Partie contact */
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2 {
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

input[type="button"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	margin-left: -150px;
	background-color: white;
	width: 1440px;
	padding: 20px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
}

/* Page de connexion */
#connexion {
	margin: auto;
	width: 379px;
}

#connexion h2 {
	margin-bottom: 20px;
	text-align: center;
}

#connexion form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#connexion input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#connexion label {
	margin: 2em 0 1em 0;
}

#connexion a {
	text-align: center;
	color: #3D3D3D;
	font-weight: 500;
	font-size: 14px;
	font-family: 'Work Sans';
	text-decoration: underline;
}

#error {
	text-align: center;
	margin-bottom: 30px;
	color: #B1663C;
	font-weight: 600;
}


/* Mode édition */
.editMode {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
	gap: 12px;
	width: 1440px;
	margin-left: -150px;
}

/* Première fenêtre modale */
.title_edit {
	position: relative;
}

.button_edit {
	position: absolute;
	top: 10px;
	left: 570px;
}

.js-modal {
	color: black;
	margin-left: 10px;
}

.modal {
	position: fixed;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	animation: fadeIn 100ms both;
}

.modal[aria-hidden=true] {
	animation: fadeOut 100ms both;
}

.modal_wrapper {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 630px;
	height: 650px;
	border-radius: 10px;
	padding: 30px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
}

@keyframes fadeIn {
	from {opacity :0;}
	to {opacity: 1;}
}

@keyframes fadeOut {
	from {opacity :1;}
	to {opacity: 0;}
}

.js-modal-close,
.js-modal-previous {
	background-color: white;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.js-modal-previous {
	font-size: 24px;
}

.js-modal-add {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px;
	padding: 10px 49px;
	display: block;
	margin: 0;
	border: none;
	cursor: pointer;
	width: 237px;
	align-self: center;
}

.firstModal-btn {
	display: flex;
	justify-content: flex-end;
}

#galleryEdit  {
	margin: 40px 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: solid 1px #B3B3B3;
	padding-bottom: 37px;
	padding-left: 40px;
	position: relative;
}

.image-container {
    position: relative;
    margin: 0 9px 29px 0;
}

.image-container img {
    width: 78px;
    height: 104px;
}

.image-container i {
    position: absolute;
    top: 6px;
    right: 5px;
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 2px;
	font-size: 10px;
	cursor: pointer;
}

/* Deuxième fenêtre modale */


.secondModal-btns {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.form {
	margin: 30px auto;
	font-family: 'Work Sans';
}

.secondModal-form {
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 47px;
}

.secondModal-form p {
	font-size: 10px;
	margin-top: -7px;
}

.secondModal-img {
	width: 420px;
	height: 169px;
	background-color: #E8F1F6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	color: #444444;
}

.secondModal-file {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.secondModal-file label {
	cursor: pointer;
	text-align: center;
	background-color: #CBD6DC;
	border-radius: 50px;
	color: #306685;
	cursor: pointer;
	width: 173px;
	font-size: 14px;
	font-weight: 500;
	margin: 7px 0 -4px 0;
	padding: 10px 0;
}

.fa-image {
	color: #B9C5CC;
	font-size: 68px;
}

.secondModal-title, 
.secondModal-category {
	display: flex;
	flex-direction: column;
	text-align: left;
	font-size: 14px;
	color: #3D3D3D;
}

.secondModal-category {
	position: relative;
}

.fa-chevron-down {
	position: absolute;
	top: 75px;
	right: 20px;
	color: #6C6C6C;
}

select {
	appearance: none;
}

#image-title,
#image-category {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	width: 420px;
	height: 51px;
	padding-left: 8px;
	color: #3D3D3D;
}

#image-category {
	cursor: pointer;
}

.secondModal-title label,
.secondModal-category label {
	margin: 2em 0 1em 0;
}

#secondModal-submit {
	border: none;
	background-color: #A7A7A7;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	width: 237px;
	cursor: pointer;
}